:root {
  --collor1: #ffffff;
  --collor2: #fdf5e6;
  --collor3: #c9aa8e;
}



.color1 {
  color: black;
}

.bg1 {
  background-color: var(--collor1);
}
.bg2 {
  background-color: var(--collor2);
}

.bg3 {
  background-color: var(--collor3);
}
footer {
  padding: 30px 0;
}
header {
  padding: 50px 0px;
}
section {
  padding: 75px 0px;
}

.booking-btn {
  width: 250px;
  border-radius: 7px;
  transition: 0.2s;
}

.booking-btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.enter {
  padding-left: 0;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
.enter:hover {
  color: var(--collor2);
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: var(--collor2);
}
