:root {
  --collor1: #ffffff;
  --collor2: #fdf5e6;
  --collor3: #593e2c;
}

body {
  min-height: 75rem;
}

.color1 {
  color: var(--collor1);
}

.bg1 {
  background-color: var(--collor1);
}
.bg2 {
  background-color: var(--collor2);
}

.bg3 {
  background-color: var(--collor3);
}
footer {
  padding: 30px 0;
}
header {
  padding: 50px 0px;
}
section {
  padding: 75px 0px;
}
