<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Document</title>
  </head>
  <body>


    <div class="container">
      <div class="wrapper">
        <!-- error message -->
        <div th:if="${param.error}">
          <div class="alert alert-danger">Неверный email или пароль.</div>
        </div>

        <!-- logout message -->
        <div th:if="${param.logout}">
          <div class="alert alert-info">Вы вышли из аккаунта!</div>
          </div>

        <form th:action="@{/login}" method="post">
          <header style="padding-bottom: 30px; margin-top: 10px">Вход</header>
          <div style="margin-bottom: 20px; margin-top: -3px"></div>

          <div class="field email">
            <div class="input-area">
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Почта"
                autofocus="autofocus"
              />
              <i class="icon fas fa-envelope"></i>
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
          </div>

          <div class="field password">
            <div class="input-area">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Пароль"
                autofocus="autofocus"
              />
              <i class="icon fas fa-lock"></i>
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
          </div>

          <div>
            <button
              type="submit"
              name="login-submit"
              id="login-submit"
              class="form-control btn btn-primary"
            >
              Войти
            </button>
          </div>
          <div>
            <span class="reg"
              >Нет аккаунта?
              <a style="color: #c9aa8e" href="/" th:href="@{/registration}"
                >Зарегистрируйтесь.</a
              ></span
            >
          </div>
        </form>
      </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
